.wrong {
    border: 1px solid red;
}

form {
    display: flex;
    flex-direction: column;
}

td:first-child {
    text-align: right;
}
td {
    font-size: x-large;
}

input {
    border: 2px solid var(--shade1);
    background-color: var(--shade7);
    border-radius: 20px;
    font-size: large;
    padding: 5px;
    transition: border-radius 125ms ease-in-out;
}
input:focus-visible, input:focus {
    border: 2px solid var(--shade1);
}

::placeholder {
    color: var(--shade6);
}

.dark input {
    background-color: var(--shade8);
}
input[type=submit], input[type=button] {
    border: 2px solid var(--shade8);
    background-color: var(--shade1);
    color: var(--shade8);
}
.dark input[type=submit], .dark input[type=button] {
    border: 2px solid var(--shade1);
    background-color: var(--shade8);
    color: var(--shade1);
}
input:hover, input:focus {
    border-radius: 0px;
    outline: none;
}

input[type=number] {
    width: 4em;
}
.form_fields {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
    margin-bottom: 1px;
}

.toggle {
    display: inline-block;
    height: 31px;
    width: 60px;
    border: 2px solid var(--shade1);
    vertical-align: middle;
    border-radius: 1rem;
    position: relative;
    background-color: var(--shade7);
    transition: border-radius 125ms ease-in-out;
}
.toggle:hover {
    border-radius: 0;
}
.toggle:hover .toggle_nob {
    border-radius: 0;
}
.toggle input {
    display: none;
}
.toggle_nob {
    position: absolute;
    top: 0;
    left: -1px;
    background-color: var(--shade1);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    transition: left 200ms cubic-bezier(0.89,-0.45, 0.63, 1.37), border-radius 125ms ease-in-out;
}
input:checked + .toggle_nob {
    left: 30px;
}

.dark .toggle {
    border: 2px solid var(--shade8);
    background-color: var(--shade2);
}
.dark .toggle_nob {
    background-color: var(--shade8);
}
.dark .toggled {
    background-color: var(--shade2);
}
.toggled {
    background-color: var(--shade7);
}

.error_box {
    border: 3px solid #af0028;
    border-radius: 1rem;
    background-color: rgba(255,0,0,0.3);
    padding: 10px;
}
.error_box p {
    margin: 0px;
    color: #410000;
    font-weight: bold;
}
.dark .error_box p {
    color: #ffb0b0;
}
