<html>
    <head>
        {{template "header" .}}
    </head>
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">MINES ONLINE</h1>

            <div class="boxes">
                <div class="box">
                    <div class="section centered">
                        <a href="/lobby"
                            ><img src="/static/images/play.png"
                        /></a>
                    </div>
                </div>
                <div class="box">
                    <div class="flex collapseButton">
                        <h1>How To Play</h1>
                        <div class="V"></div>
                    </div>
                    <div class="hr"></div>
                    <div class="section">
                        <p>
                            Minesweeper can seem a complex game at first glance,
                            but it really is simpler than it seems. <br />
                            The rules are few and simple:
                        </p>
                        <ul>
                            <li>Some cells contain bombs</li>
                            <li>
                                Every safe cell contains the number of
                                surrounding bombs
                            </li>
                            <ul>
                                <li>
                                    The count also considers cells neighboring
                                    along the diagonals
                                </li>
                            </ul>
                            <li>
                                Revealing a cell with no neighboring bombs will
                                automatically reveal all surrounding cells
                            </li>
                            <ul>
                                <li>
                                    This behaviour is then replicated on the
                                    neighboring cells, sometimes revealing large
                                    portions of the map
                                </li>
                            </ul>
                            <li>Revealing a bomb makes you lose the game</li>
                            <ul>
                                <li>
                                    You can place flags on cells that you
                                    suspect may hide a bomb, to keep track of
                                    them
                                </li>
                            </ul>
                            <li>
                                You win the game by revealing all safe cells
                            </li>
                        </ul>
                        <div class="flex" style="width: 90%">
                            <h2>Example</h2>
                        </div>
                        <div class="hr2"></div>
                        <figure style="float: right; width: min-content">
                            <img src="/static/images/example1.png" />
                            <figcaption>Example 1</figcaption>
                        </figure>
                        <p>
                            An useful tip is to look at corners. In this case,
                            the cell circled in greed neighbors only 1 bomb (as
                            stated by its number) <br />
                            This tells us that the yellow cell must contain a
                            bomb (since it is the only free cell neighboring
                            green). <br />
                            We can put a flag on the yellow cell to remember
                            this fact
                        </p>
                        <figure style="float: left; width: min-content">
                            <img src="/static/images/example2.png" />
                            <figcaption>Example 2</figcaption>
                        </figure>
                        <p>
                            This cell only has one neighboring bomb (as stated
                            by its number) and we know where it is thanks to the
                            flag. We can safely reveal the rest of its
                            neighboring cells, only one in this case
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </body>
</html>
