<!doctype html>
<html>
    <head>
        {{template "header" .}}
        <link rel="stylesheet" href="/static/css/form.css" />
        <script src="/static/scripts/lobby.js"></script>
    </head>
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">LOBBY</h1>

            <div class="boxes">
                <div class="box">
                    <div class="flex collapseButton">
                        <h1>Singleplayer</h1>
                        <div class="V"></div>
                    </div>
                    <div class="hr"></div>
                    <div class="section centered">
                        <form
                            id="form_single"
                            onsubmit="return submitSingle(this)"
                        >
                            <div class="horizontal">
                                <div class="form_fields">
                                    <select
                                        name="difficulty"
                                        id="single_difficulty"
                                    >
                                        <option value="easy">easy</option>
                                        <option
                                            value="medium"
                                            selected="selected"
                                        >
                                            medium
                                        </option>
                                        <option value="hard">hard</option>
                                        <option value="custom">custom</option>
                                    </select>
                                    <span>
                                        <input
                                            min="1"
                                            name="width"
                                            value="18"
                                            type="number"
                                            placeholder="width"
                                            required
                                            disabled
                                        />
                                        x
                                        <input
                                            min="1"
                                            name="height"
                                            value="14"
                                            type="number"
                                            placeholder="height"
                                            required
                                            disabled
                                        />
                                    </span>
                                    <span
                                        >Bombs
                                        <input
                                            min="1"
                                            type="number"
                                            name="bombs"
                                            placeholder="bombs"
                                            value="40"
                                            required
                                            disabled
                                    /></span>
                                    <span
                                        >Time
                                        <div class="toggle">
                                            <input
                                                name="timed"
                                                type="checkbox"
                                                disabled
                                                checked
                                            />
                                            <div class="toggle_nob"></div></div
                                    ></span>
                                    <span
                                        ><input
                                            min="1"
                                            type="number"
                                            name="tempo"
                                            placeholder="time"
                                            value="3000"
                                            disabled
                                        />ms</span
                                    >
                                </div>
                                <input type="submit" value="Play" />
                            </div>
                        </form>
                    </div>
                    <div class="section">
                        <p>
                            Play alone to train in the classic game of
                            minesweeper or race the clock in the timed mode.
                        </p>
                    </div>
                </div>
                <div class="box">
                    <div class="flex collapseButton">
                        <h1>1v1</h1>
                        <div class="V"></div>
                    </div>
                    <div class="hr"></div>
                    <div class="section centered">
                        <div class="flex" style="width: 90%">
                            <h2>Create game</h2>
                        </div>
                        <div class="hr2"></div>
                        <br />
                        <form id="form_1v1" onsubmit="return submit1v1(this)">
                            <div class="horizontal">
                                <div class="form_fields">
                                    <select
                                        name="difficulty"
                                        id="M1v1_difficulty"
                                    >
                                        <option value="easy">easy</option>
                                        <option
                                            value="medium"
                                            selected="selected"
                                        >
                                            medium
                                        </option>
                                        <option value="hard">hard</option>
                                        <option value="custom">custom</option>
                                    </select>

                                    <span>
                                        <input
                                            min="1"
                                            name="width"
                                            value="18"
                                            type="number"
                                            placeholder="width"
                                            required
                                            disabled
                                        />
                                        x
                                        <input
                                            min="1"
                                            name="height"
                                            value="14"
                                            type="number"
                                            placeholder="height"
                                            required
                                            disabled
                                        />
                                    </span>
                                    <span
                                        >Bombs
                                        <input
                                            min="1"
                                            type="number"
                                            name="bombs"
                                            placeholder="bombs"
                                            value="40"
                                            required
                                            disabled
                                    /></span>
                                    <span
                                        >Time
                                        <div class="toggle">
                                            <input
                                                name="timed"
                                                type="checkbox"
                                                disabled
                                                checked
                                            />
                                            <div class="toggle_nob"></div></div
                                    ></span>
                                    <span
                                        ><input
                                            min="1"
                                            type="number"
                                            name="tempo"
                                            placeholder="time"
                                            value="3000"
                                            disabled
                                        />ms</span
                                    >
                                </div>
                                <input type="submit" value="Play" />
                            </div>
                            <input type="hidden" value="create" />
                        </form>

                        <div class="flex" style="width: 90%"><h2>Join</h2></div>
                        <div class="hr2"></div>
                        <br />
                        <form action="/1v1" method="get">
                            <div class="form_fields">
                                <span
                                    ><input name="game_id" placeholder="code"
                                /></span>
                            </div>
                            <input type="submit" value="Join" />
                        </form>
                    </div>
                    <div class="section">
                        <p>
                            Play with a frient! First one to hit a bomb or run
                            out of time looses. <br />
                            Completing the board leads to a draw.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </body>
</html>
