<html>
    {{template "header" .}}
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">LOGIN</h1>

            <div class="boxes">
                <div class="box">
                    <div class="flex collapseButton"><h1>Accedi</h1> <div class="V"></div></div>
                    <div class="hr"></div>
                    <div class="section centered">
                        <form action="#" onsubmit="return validaLogin(this)" enctype="multipart/form-data" method="POST">
                            <div class="form_fields">
                                <input placeholder="email" name="mail" type="email" {{if .LoginError}} class="wrong" {{end}}>
                                <input placeholder="password" name="password" type="password" {{if .LoginError}} class="wrong" {{end}}> 
                            </div>
                            <br>
                            <input type="submit" value="invia">
                        </form>
                        <div id="login_error_box" class="error_box hidden">
                            <p id="login_error_p">
                            </p>
                        </div>
                        <br/>
                    </div>
                </div>
                <div class="box">
                    <div class="flex collapseButton"><h1>Non Hai Un Account?</h1> <div class="V"></div></div>
                    <div class="hr"></div>
                    <div class="section centered">
                        <form action="/register" onsubmit="return validaRegistrazione(this)" enctype="multipart/form-data" method="POST">
                            <div class="form_fields">
                                <input placeholder="username" name="username" {{if .Username_error}} class="wrong" {{end}}>
                                <input placeholder="email" name="mail" type="email" {{if .Mail_error}} class="wrong" {{end}}>
                                <input placeholder="password" name="password" type="password" {{if .Password_error}} class="wrong" {{end}}>
                                <input placeholder="conferma password" name="password_confirm" type="password" {{if .Password_error}} class="wrong" {{end}}>
                                <!--<input name="image" type="file"> <br/>-->
                            </div>
                            <br>
                            <input type="submit" value="invia">
                        </form>
                        <div id="register_error_box" class="error_box {{if not .UsernameError}} {{if not .MailError}}hidden{{end}}{{end}}">
                            <p id="register_error_p">
                            {{if .UsernameError}}- Nome "{{.OldUser}}" già preso<br>{{end}}
                            {{if .MailError}}- Mail "{{.OldMail}}" già in uso{{end}}
                            </p>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
        <script src="/static/scripts/form.js"></script>
    </body>
</html>
