<html>
    {{template "header" .}}
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">LOGIN</h1>

            <div class="boxes">
                <div class="box">
                    <div class="flex collapseButton"><h1>Accedi</h1> <div class="V"></div></div>
                    <div class="hr"></div>
                    <div class="section centered">
                        <form action="#" enctype="multipart/form-data" method="POST">
                            <table>
                                <tr>
                                    <td><span>mail</span></td>
                                    <td><input name="mail" {{if .LoginError}} class="wrong" {{end}}> </td>
                                </tr>
                                <tr>
                                    <td><span>password</span></td>
                                    <td><input name="password" type="password" {{if .LoginError}} class="wrong" {{end}}> </td>
                                </tr>
                            </table>
                            <input type="submit" value="invia">
                        </form>
                    </div>
                </div>
                <div class="box">
                    <div class="flex collapseButton"><h1>Non Hai Un Account?</h1> <div class="V"></div></div>
                    <div class="hr"></div>
                    <div class="section centered">
                        <form action="/register" enctype="multipart/form-data" method="POST">
                            <table>
                                <tr>
                                    <td><span>Username</span></td>
                                    <td><input name="username" {{if .Username_error}} class="wrong" {{end}}></td>
                                </tr>
                                <tr>
                                    <td><span>Mail</span></td>
                                    <td><input name="mail" {{if .Mail_error}} class="wrong" {{end}}></td>
                                </tr>
                                <tr>
                                    <td><span>Password</span></td>
                                    <td><input name="password" type="password" {{if .Password_error}} class="wrong" {{end}}></td>
                                </tr>
                                <tr>
                                    <td><span>Conferma Password</span></td>
                                    <td><input name="password-confirm" type="password" {{if .Password_error}} class="wrong" {{end}}> </td>
                                </tr>
                                <!--<input name="image" type="file"> <br/>-->
                            </table>
                            <input type="submit" value="invia">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </body>
</html>
