{{define "navbar"}}
<div id="navBar">
    <div class="navBarSection" id="navTitle">
        <a href="/">MinesOnline</a>
        <a id="navCollapse">...</a>
    </div>
    <div class="navBarSection navCollapsible">
    </div>
    <div class="navBarSection navCollapsible">
        <a id="themeButton">◑</a>
        <a id="languageButton">🇮🇹</a>
        {{if .SessionName}}
            <a>{{.SessionName}}</a>
        {{else}}
            <a href="/login">login</a>
        {{end}}
    </div>
</div>

{{end}}
