<html>
    <head>
        {{template "header" .}}
    </head>
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">We're almost there!</h1>

            <div class="boxes">
                <div class="box">
                    <div class="flex collapseButton">
                        <h1>Verify your account</h1>
                        <div class="V"></div>
                    </div>
                    <div class="hr"></div>
                    <div class="section">
                        <p>
                            We just sent you an email to activate your account.
                            If you don't see it it may have ended up in your
                            spam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </body>
</html>
