<!DOCTYPE html>
<html>
    <head>
        {{template "header" .}}
        <script src="https://cdn.jsdelivr.net/npm/p5@1.11.1/lib/p5.min.js"></script>
        <script src="/static/scripts/singlePlayer.js" defer></script>
    <head>
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">GIOCATORE SINGOLO</h1>

            <div class="boxes">
                <div class="box clear">
                    <div id="gameSection" class="section centered">
                        <br>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
        <div class="hidden" id="game_id">{{.game_id}}</div>
    </body>
</html>
