<!doctype html>
<html>
    <head>
        {{template "header" .}}
        <link rel="stylesheet" href="/static/css/form.css" />
    </head>
    <body class="dark">
        {{template "navbar" .}}
        <div id="mainContainer">
            <h1 id="titoloPagina">User Page</h1>

            <div class="boxes">
                <div class="box">
                    <div class="section centered">
                        <table>
                            <tr>
                                <td><span>mail:</span></td>
                                <td><span>{{.email}}</span></td>
                            </tr>
                            <tr>
                                <td><span>username:</span></td>
                                <td><span>{{.username}}</span></td>
                            </tr>
                            <tr>
                                <td>
                                    <form
                                        method="post"
                                        action="/logout"
                                        onsubmit="return confirm('Vuoi uscire?')"
                                    >
                                        <input type="submit" value="logout" />
                                    </form>
                                </td>
                                <td>
                                    <form
                                        method="post"
                                        action="/deleteAccount"
                                        onsubmit="return confirm('Sei sicuro?')"
                                    >
                                        <input
                                            type="submit"
                                            value="Delete account"
                                        />
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer" .}}
    </body>
</html>
